<?xml version="1.0"?>

<model>
  <name>control_lab_lite</name>
  <version>1.0</version>
  <sdf version="1.9">control_lab_lite.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Model of ICAI Control Laboratory with no lights.
  </description>
</model>
