<?xml version="1.0"?>

<model>
  <name>support_wall</name>
  <version>1.0</version>
  <sdf version="1.9">support_wall.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Support wall for balancing vehicle start point.
  </description>
</model>
