<?xml version="1.0"?>

<model>
  <name>ramp_circuit</name>
  <version>1.0</version>
  <sdf version="1.9">ramp_circuit.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Model of ICAI Control Laboratory's mini competition-circuit.
  </description>
</model>
